
.forgot-page{

    min-height:100vh;
    background:#070b18;

    display:flex;
    align-items:center;
    justify-content:center;

}


.forgot-card{

    width:420px;

    background:#111827;

    border:1px solid #263244;

    border-radius:24px;

    padding:40px;

    color:white;

}


.forgot-card p{

    color:#94a3b8;

    margin-bottom:25px;

}


.forgot-card input{

    width:100%;

    padding:14px;

    border-radius:12px;

    border:1px solid #334155;

    background:#0f172a;

    color:white;

}


.forgot-card button{

    width:100%;

    margin-top:20px;

    padding:14px;

    border:0;

    border-radius:12px;

    background:#8b5cf6;

    color:white;

    cursor:pointer;

}


.success-message{

    background:#14532d;

    padding:15px;

    border-radius:12px;

}



.back-login{

    display:block;

    margin-top:18px;

    text-align:center;

    color:#8b5cf6;

    text-decoration:none;

    font-size:14px;

    font-weight:500;

}


.back-login:hover{

    color:#a78bfa;

    text-decoration:none;

}

